{
    "swagger": "2.0",
    "info": {
        "description": "This is a sample server celler server.",
        "title": "Swagger Example API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "bf.shoggothy.xyz",
    "basePath": "/",
    "paths": {
        "/dr/factory": {
            "get": {
                "description": "按照场站距离展示数据，距离进的排名靠前",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Driver/Replenish"
                ],
                "summary": "场站信息",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.FactoryInfoResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "onject"
                        }
                    }
                }
            }
        },
        "/dr/factory/infos/{id}": {
            "get": {
                "description": "根据场站ID获取场站具体信息",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Driver/Replenish"
                ],
                "summary": "场站详情",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "场站ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.FactoryInfoResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "onject"
                        }
                    }
                }
            }
        },
        "/dr/home": {
            "get": {
                "description": "展示销售数据",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Driver"
                ],
                "summary": "车主端首页",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.HomePageResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "onject"
                        }
                    }
                }
            }
        },
        "/dr/inventory": {
            "get": {
                "description": "展示车主拥有的设备库存数据",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Driver"
                ],
                "summary": "车主设备库存",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.InventoryResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "onject"
                        }
                    }
                }
            }
        },
        "/dr/login": {
            "post": {
                "description": "Input user's nickname and password",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User"
                ],
                "summary": "车主用户登录",
                "parameters": [
                    {
                        "description": "输入昵称，密码",
                        "name": "loginInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.LoginInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.LoginResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/response.LoginResponse"
                        }
                    }
                }
            }
        },
        "/dr/order": {
            "post": {
                "description": "点击结算，展示订单信息",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Driver/Replenish"
                ],
                "summary": "订单界面",
                "parameters": [
                    {
                        "description": "车主订单信息",
                        "name": "OrderForm",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.DriverOrderForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.OrderResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "onject"
                        }
                    }
                }
            }
        },
        "/dr/order/pay": {
            "put": {
                "description": "结算",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Driver/Replenish"
                ],
                "summary": "补货订单结算",
                "parameters": [
                    {
                        "description": "传入订单信息",
                        "name": "OrderForm",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.DriverOrderForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.PayResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "onject"
                        }
                    }
                }
            }
        },
        "/dr/register": {
            "post": {
                "description": "Input info as model.User",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User"
                ],
                "summary": "车主用户注册",
                "parameters": [
                    {
                        "description": "一定要填入已有的平台ID,用户名，密码，password_salt为可选项",
                        "name": "RegisterInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.Driver"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.LoginResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/response.LoginResponse"
                        }
                    }
                }
            }
        },
        "/pt/ads": {
            "post": {
                "description": "按照Advertisement定义的内容传递json格式的数据,无需传入平台ID",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Platform/Advertisement"
                ],
                "summary": "添加广告信息",
                "parameters": [
                    {
                        "description": "传入广告描述，投放资金，广告主，预期播放次数，广告视频地址",
                        "name": "ADInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.Advertisement"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/response.ADResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/ads/efficient/{id}": {
            "get": {
                "description": "传入广告ID",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Platform/Advertisement"
                ],
                "summary": "获取单个广告效益",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "广告ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ADEfficientResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/ads/infos/{id}": {
            "get": {
                "description": "传入广告ID",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Platform/Advertisement"
                ],
                "summary": "获取单个广告信息",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "广告ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ADResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/ads/list/{page}": {
            "get": {
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Platform/Advertisement"
                ],
                "summary": "获取该平台的所有广告信息",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "跳转到的页数，起始为第一页",
                        "name": "page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ADResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/dev-admin/devs": {
            "post": {
                "description": "按照Device的定义 传入json格式的数据,添加的设备默认为未激活，未上线状态",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Platform/Device"
                ],
                "summary": "添加设备信息",
                "parameters": [
                    {
                        "description": "填入设备的基本信息,然而并不需要任何基本信息，都自动设定好了",
                        "name": "DeviceInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.Device"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/response.AddDevResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/dev-admin/infos/{id}": {
            "get": {
                "description": "输入设备的ID以查看对应设备的销量,绑定车主以及库存的信息",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Platform/Device"
                ],
                "summary": "展示设备详情信息",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "use to identify Device",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.DevInfoResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/dev-admin/list/{mode}": {
            "get": {
                "description": "传入字段名:mode;mode=0:获取全部设备信息,mode=1，2,3,4分别对应获取在线，离线,激活，未激活的设备信息",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Platform/Device"
                ],
                "summary": "获取设备信息",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "group mode",
                        "name": "mode",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "获取的设备信息",
                        "schema": {
                            "$ref": "#/definitions/response.DevResponse"
                        }
                    }
                }
            }
        },
        "/pt/login": {
            "post": {
                "description": "Input user's nickname and password",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User"
                ],
                "summary": "平台用户登录",
                "parameters": [
                    {
                        "description": "输入昵称，密码",
                        "name": "loginInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.LoginInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.LoginResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/response.LoginResponse"
                        }
                    }
                }
            }
        },
        "/pt/orders/factory/{mode}": {
            "get": {
                "description": "传入字段mode，获取对应订单信息",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orderform"
                ],
                "summary": "获取车主订单信息(车主在该场站下的订单)",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "按照不同模式获取订单信息，mode={0:未支付,1:未完成,2:完成,传入其他任意数值代表获取全部订单信息}",
                        "name": "mode",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.OrderResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/products/down/{id}": {
            "put": {
                "description": "输入商品id,获取场站中对应商品的详细信息",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Products"
                ],
                "summary": "下架场站商品",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "商品ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.FactoryGoodsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/products/factory/{mode}/{factory_name}/": {
            "get": {
                "description": "传入场站名，获取该场站所有商品信息",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Products"
                ],
                "summary": "获取所有商品",
                "parameters": [
                    {
                        "type": "string",
                        "description": "根据场站名字获取场站所有商品信息，默认获取所有商品信息",
                        "name": "factory_name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "按照不同模式获取订单信息，mode={0:未上架,1:上架,传入其他数据获取所有商品信息}",
                        "name": "mode",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.FactoryProductsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/products/infos/{sku}": {
            "get": {
                "description": "输入商品SKU,获取场站中对应商品的详细信息",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Products"
                ],
                "summary": "获取商品信息",
                "parameters": [
                    {
                        "type": "string",
                        "description": "sku 指向唯一的场站中的商品信息",
                        "name": "sku",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.FactoryGoodsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/products/on/{id}": {
            "put": {
                "description": "输入商品id,获取场站中对应商品的详细信息",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Products"
                ],
                "summary": "上架场站商品",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "商品ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.FactoryGoodsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/register": {
            "post": {
                "description": "Input info as model.User",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User"
                ],
                "summary": "平台用户注册",
                "parameters": [
                    {
                        "description": "只需要用户名，密码，password_salt为可选项",
                        "name": "RegisterInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.Platform"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.LoginResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/response.LoginResponse"
                        }
                    }
                }
            }
        },
        "/pt/screen": {
            "get": {
                "description": "在数据大屏上展示管理场站的销售数据",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Platform"
                ],
                "summary": "展示销售数据",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ScreenInfoResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/pt/static/{mode}": {
            "get": {
                "description": "展示管理场站的销售数据，获取详细的销售排行信息",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Platform"
                ],
                "summary": "销售数据统计",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "根据模式获取平台商品的排行信息，mode=0 今日排行，mode=1 本周排行 ,mode=2 本月排行,mode=3 本年排行,mode=4 总排行",
                        "name": "mode",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.SaleStaticResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "model.Advertisement": {
            "type": "object",
            "properties": {
                "ad_owner": {
                    "type": "string"
                },
                "ad_state": {
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "devices": {
                    "description": "在投放广告的时候需要注意",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Device"
                    }
                },
                "expected_play_times": {
                    "type": "integer"
                },
                "expire_at": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "invest_fund": {
                    "type": "number"
                },
                "platform_id": {
                    "type": "integer"
                },
                "play_times": {
                    "type": "integer"
                },
                "play_url": {
                    "type": "string"
                },
                "profit": {
                    "type": "number"
                },
                "video_cover": {
                    "type": "string"
                }
            }
        },
        "model.Device": {
            "type": "object",
            "properties": {
                "activated_time": {
                    "type": "string"
                },
                "advertisements": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Advertisement"
                    }
                },
                "id": {
                    "type": "integer"
                },
                "is_activated": {
                    "type": "boolean"
                },
                "is_online": {
                    "type": "boolean"
                },
                "owner_id": {
                    "type": "integer"
                },
                "platform_id": {
                    "type": "integer"
                },
                "products": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.DeviceProduct"
                    }
                },
                "profit": {
                    "type": "number"
                },
                "updated_time": {
                    "type": "string"
                }
            }
        },
        "model.DeviceProduct": {
            "type": "object",
            "properties": {
                "annually_sales": {
                    "type": "number"
                },
                "buy_price": {
                    "description": "销售价",
                    "type": "number"
                },
                "daily_sales": {
                    "type": "number"
                },
                "device_id": {
                    "description": "售货机编号",
                    "type": "integer"
                },
                "factory_id": {
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "inventory": {
                    "description": "存货",
                    "type": "integer"
                },
                "monthly_sales": {
                    "type": "number"
                },
                "name": {
                    "description": "产品名称",
                    "type": "string"
                },
                "pic": {
                    "description": "图片",
                    "type": "string"
                },
                "sku": {
                    "type": "string"
                },
                "supply_price": {
                    "description": "批发价",
                    "type": "number"
                },
                "total_sales": {
                    "type": "number"
                },
                "type": {
                    "description": "型号",
                    "type": "string"
                },
                "weekly_sales": {
                    "type": "number"
                }
            }
        },
        "model.Driver": {
            "type": "object",
            "properties": {
                "balance": {
                    "description": "账户余额",
                    "type": "number"
                },
                "car_id": {
                    "type": "string"
                },
                "cart": {
                    "description": "购物车信息",
                    "allOf": [
                        {
                            "$ref": "#/definitions/model.DriverCart"
                        }
                    ]
                },
                "created_at": {
                    "description": "注册时间",
                    "type": "string"
                },
                "deleted_at": {
                    "description": "注销选项\tGORM.",
                    "type": "string"
                },
                "devices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Device"
                    }
                },
                "driverOrderForms": {
                    "description": "购物订单",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.DriverOrderForm"
                    }
                },
                "id": {
                    "description": "唯一标志符",
                    "type": "integer"
                },
                "id_card": {
                    "type": "string"
                },
                "is_auth": {
                    "type": "boolean"
                },
                "level": {
                    "description": "用户等级，成长制度待定",
                    "allOf": [
                        {
                            "$ref": "#/definitions/model.LEVEL"
                        }
                    ]
                },
                "location": {
                    "type": "string"
                },
                "mobile": {
                    "type": "string"
                },
                "name": {
                    "description": "用户昵称",
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "password_salt": {
                    "description": "密码盐",
                    "type": "string"
                },
                "pic": {
                    "description": "用户头像(需要添加修改头像功能）",
                    "type": "string"
                },
                "platform_id": {
                    "type": "integer"
                },
                "role": {
                    "description": "用户身份标志符，注册时确认",
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "model.DriverCart": {
            "type": "object",
            "properties": {
                "cart_id": {
                    "type": "integer"
                },
                "distance": {
                    "description": "距离场站距离",
                    "type": "integer"
                },
                "driver_id": {
                    "description": "外键 Driver.Uuid",
                    "type": "string"
                },
                "factory_name": {
                    "description": "添加进购物车时自动获取",
                    "type": "string"
                },
                "products": {
                    "description": "存储",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.OrderProduct"
                    }
                },
                "total_amount": {
                    "type": "number"
                },
                "total_count": {
                    "type": "integer"
                }
            }
        },
        "model.DriverOrderForm": {
            "type": "object",
            "properties": {
                "car_id": {
                    "description": "车牌号",
                    "type": "string"
                },
                "comment": {
                    "description": "备注",
                    "type": "string"
                },
                "cost": {
                    "description": "花费",
                    "type": "integer"
                },
                "driver_id": {
                    "description": "Driver外键",
                    "type": "integer"
                },
                "factory_id": {
                    "type": "integer"
                },
                "factory_name": {
                    "type": "string"
                },
                "get_time": {
                    "description": "自取时间",
                    "type": "string"
                },
                "location": {
                    "description": "支付时存储位置(购物时获取车主位置）",
                    "type": "string"
                },
                "order_id": {
                    "description": "订单编码",
                    "type": "string"
                },
                "pay_time": {
                    "description": "支付时间（更改操作先于发送订单请求，支付时更新即可）",
                    "type": "string"
                },
                "place_time": {
                    "description": "下单时间（创建时更新即可）",
                    "type": "string"
                },
                "productInfo": {
                    "description": "商品信息",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.OrderProduct"
                    }
                },
                "state": {
                    "description": "订单状态",
                    "allOf": [
                        {
                            "$ref": "#/definitions/model.ORDERSTATE"
                        }
                    ]
                }
            }
        },
        "model.FactoryProduct": {
            "type": "object",
            "properties": {
                "annually_sales": {
                    "type": "number"
                },
                "buy_price": {
                    "description": "销售价",
                    "type": "number"
                },
                "daily_sales": {
                    "type": "number"
                },
                "factory_id": {
                    "type": "integer"
                },
                "factory_name": {
                    "description": "场站名字",
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "inventory": {
                    "description": "存货",
                    "type": "integer"
                },
                "is_on_shelf": {
                    "description": "上架状态",
                    "type": "boolean"
                },
                "monthly_sales": {
                    "type": "number"
                },
                "name": {
                    "description": "产品名称",
                    "type": "string"
                },
                "pic": {
                    "description": "图片",
                    "type": "string"
                },
                "sku": {
                    "type": "string"
                },
                "supply_price": {
                    "description": "批发价",
                    "type": "number"
                },
                "total_sales": {
                    "type": "number"
                },
                "type": {
                    "description": "型号",
                    "type": "string"
                },
                "weekly_sales": {
                    "type": "number"
                }
            }
        },
        "model.LEVEL": {
            "type": "integer",
            "enum": [
                0,
                1,
                2,
                3,
                4,
                5,
                6
            ],
            "x-enum-varnames": [
                "ZERO",
                "I",
                "II",
                "IIV",
                "IV",
                "V",
                "VI"
            ]
        },
        "model.LoginInfo": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "jwt": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "salt": {
                    "type": "string"
                }
            }
        },
        "model.ORDERSTATE": {
            "type": "integer",
            "enum": [
                0,
                1,
                2
            ],
            "x-enum-varnames": [
                "CANCLE",
                "WAIT",
                "DONE"
            ]
        },
        "model.OrderProduct": {
            "type": "object",
            "properties": {
                "cart_refer": {
                    "description": "外键",
                    "type": "integer"
                },
                "count": {
                    "type": "integer"
                },
                "factory_id": {
                    "type": "integer"
                },
                "is_chosen": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "order_refer": {
                    "type": "string"
                },
                "pic": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "sku": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "model.Platform": {
            "type": "object",
            "properties": {
                "advertisements": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Advertisement"
                    }
                },
                "authorized_drivers": {
                    "description": "登记的司机",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Driver"
                    }
                },
                "balance": {
                    "description": "账户余额",
                    "type": "number"
                },
                "created_at": {
                    "description": "注册时间",
                    "type": "string"
                },
                "deleted_at": {
                    "description": "注销选项\tGORM.",
                    "type": "string"
                },
                "devices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Device"
                    }
                },
                "id": {
                    "description": "唯一标志符",
                    "type": "integer"
                },
                "id_card": {
                    "type": "string"
                },
                "level": {
                    "description": "用户等级，成长制度待定",
                    "allOf": [
                        {
                            "$ref": "#/definitions/model.LEVEL"
                        }
                    ]
                },
                "mobile": {
                    "type": "string"
                },
                "name": {
                    "description": "用户昵称",
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "password_salt": {
                    "description": "密码盐",
                    "type": "string"
                },
                "pic": {
                    "description": "用户头像(需要添加修改头像功能）",
                    "type": "string"
                },
                "role": {
                    "description": "用户身份标志符，注册时确认",
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "model.ProductRank": {
            "type": "object",
            "properties": {
                "member": {},
                "score": {
                    "type": "number"
                }
            }
        },
        "response.ADEfficientInfo": {
            "type": "object",
            "properties": {
                "car_id": {
                    "description": "车主车牌号",
                    "type": "string"
                },
                "device_id": {
                    "type": "integer"
                },
                "driver_name": {
                    "description": "车主姓名",
                    "type": "string"
                },
                "played_times": {
                    "description": "已经播放次数",
                    "type": "integer"
                },
                "profit": {
                    "description": "收益",
                    "type": "number"
                }
            }
        },
        "response.ADEfficientResponse": {
            "type": "object",
            "properties": {
                "adefficientInfos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/response.ADEfficientInfo"
                    }
                },
                "code": {
                    "type": "integer"
                },
                "msg": {
                    "type": "string"
                }
            }
        },
        "response.ADResponse": {
            "type": "object",
            "properties": {
                "adinfos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Advertisement"
                    }
                },
                "code": {
                    "type": "integer"
                },
                "msg": {
                    "type": "string"
                }
            }
        },
        "response.AddDevResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "devices": {
                    "$ref": "#/definitions/model.Device"
                },
                "msg": {
                    "type": "string"
                }
            }
        },
        "response.DevInfoResponse": {
            "type": "object",
            "properties": {
                "activated_time": {
                    "description": "设备激活时间",
                    "type": "string"
                },
                "annually_sales": {
                    "type": "number"
                },
                "code": {
                    "type": "integer"
                },
                "daily_sales": {
                    "type": "number"
                },
                "devID": {
                    "type": "integer"
                },
                "driver_name": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "mobile": {
                    "type": "string"
                },
                "monthly_sales": {
                    "type": "number"
                },
                "msg": {
                    "type": "string"
                },
                "productInfo": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/response.DevProductPartInfo"
                    }
                },
                "total_sales": {
                    "type": "number"
                },
                "updated_time": {
                    "description": "设备更新时间",
                    "type": "string"
                },
                "weekly_sales": {
                    "type": "number"
                }
            }
        },
        "response.DevProductPartInfo": {
            "type": "object",
            "properties": {
                "inventory": {
                    "type": "integer"
                },
                "monthly_sales": {
                    "type": "number"
                },
                "name": {
                    "type": "string"
                },
                "pic": {
                    "description": "商品封面图片",
                    "type": "string"
                },
                "sku": {
                    "type": "string"
                },
                "supply_price": {
                    "description": "批发价",
                    "type": "number"
                }
            }
        },
        "response.DevQueryInfo": {
            "type": "object",
            "properties": {
                "dev_id": {
                    "type": "integer"
                },
                "driver_name": {
                    "type": "string"
                },
                "location": {
                    "description": "地址信息",
                    "type": "string"
                },
                "mobile": {
                    "description": "车主电话号码",
                    "type": "string"
                },
                "sales_of_today": {
                    "description": "今日营销额",
                    "type": "number"
                },
                "seq": {
                    "description": "顺序编号",
                    "type": "integer"
                },
                "state": {
                    "description": "设备状态信息，state=1，2,3,4分别对应获取在线，离线,激活，未激活",
                    "type": "string"
                }
            }
        },
        "response.DevResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "devQueryInfos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/response.DevQueryInfo"
                    }
                },
                "msg": {
                    "type": "string"
                }
            }
        },
        "response.FactoryGoodsResponse": {
            "type": "object",
            "properties": {
                "annually_sales": {
                    "type": "number"
                },
                "buy_price": {
                    "description": "销售价",
                    "type": "number"
                },
                "code": {
                    "type": "integer"
                },
                "daily_sales": {
                    "type": "number"
                },
                "factory_id": {
                    "type": "integer"
                },
                "factory_name": {
                    "description": "场站名字",
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "inventory": {
                    "description": "存货",
                    "type": "integer"
                },
                "is_on_shelf": {
                    "description": "上架状态",
                    "type": "boolean"
                },
                "monthly_sales": {
                    "type": "number"
                },
                "msg": {
                    "type": "string"
                },
                "name": {
                    "description": "产品名称",
                    "type": "string"
                },
                "pic": {
                    "description": "图片",
                    "type": "string"
                },
                "sku": {
                    "type": "string"
                },
                "supply_price": {
                    "description": "批发价",
                    "type": "number"
                },
                "total_sales": {
                    "type": "number"
                },
                "type": {
                    "description": "型号",
                    "type": "string"
                },
                "weekly_sales": {
                    "type": "number"
                }
            }
        },
        "response.FactoryInfo": {
            "type": "object",
            "properties": {
                "address": {
                    "description": "场站地理位置",
                    "type": "string"
                },
                "balance": {
                    "description": "账户余额",
                    "type": "number"
                },
                "created_at": {
                    "description": "注册时间",
                    "type": "string"
                },
                "deleted_at": {
                    "description": "注销选项\tGORM.",
                    "type": "string"
                },
                "distance": {
                    "type": "number"
                },
                "factoryProducts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.FactoryProduct"
                    }
                },
                "id": {
                    "description": "唯一标志符",
                    "type": "integer"
                },
                "id_card": {
                    "type": "string"
                },
                "level": {
                    "description": "用户等级，成长制度待定",
                    "allOf": [
                        {
                            "$ref": "#/definitions/model.LEVEL"
                        }
                    ]
                },
                "mobile": {
                    "type": "string"
                },
                "name": {
                    "description": "用户昵称",
                    "type": "string"
                },
                "orderForms": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.DriverOrderForm"
                    }
                },
                "password": {
                    "type": "string"
                },
                "password_salt": {
                    "description": "密码盐",
                    "type": "string"
                },
                "pic": {
                    "description": "用户头像(需要添加修改头像功能）",
                    "type": "string"
                },
                "products": {
                    "description": "供应的商品",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.FactoryProduct"
                    }
                },
                "role": {
                    "description": "用户身份标志符，注册时确认",
                    "type": "integer"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "response.FactoryInfoResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "factoryInfos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/response.FactoryInfo"
                    }
                },
                "msg": {
                    "type": "string"
                }
            }
        },
        "response.FactoryProductsInfo": {
            "type": "object",
            "properties": {
                "factory_name": {
                    "type": "string"
                },
                "inventory": {
                    "type": "integer"
                },
                "is_on_shelf": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "pic": {
                    "type": "string"
                },
                "sku": {
                    "type": "string"
                },
                "total_sales": {
                    "type": "number"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "response.FactoryProductsResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "msg": {
                    "type": "string"
                },
                "products": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/response.FactoryProductsInfo"
                    }
                }
            }
        },
        "response.HomePageResponse": {
            "type": "object",
            "properties": {
                "adlist": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Advertisement"
                    }
                },
                "code": {
                    "type": "integer"
                },
                "daily_sales": {
                    "type": "number"
                },
                "msg": {
                    "type": "string"
                },
                "productRankList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.ProductRank"
                    }
                }
            }
        },
        "response.InventoryResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "msg": {
                    "type": "string"
                },
                "products": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.DeviceProduct"
                    }
                }
            }
        },
        "response.LoginResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "jwt": {
                    "description": "鉴权信息，用于保持用户登录状态",
                    "type": "string"
                },
                "msg": {
                    "type": "string"
                },
                "user_id": {
                    "type": "integer"
                }
            }
        },
        "response.OrderResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "msg": {
                    "type": "string"
                },
                "orderInfos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/response.FactoryProductsInfo"
                    }
                }
            }
        },
        "response.PayResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "msg": {
                    "type": "string"
                }
            }
        },
        "response.Response": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "msg": {
                    "type": "string"
                }
            }
        },
        "response.SaleStaticResponse": {
            "type": "object",
            "properties": {
                "annually_sales": {
                    "type": "number"
                },
                "code": {
                    "type": "integer"
                },
                "daily_sales": {
                    "type": "number"
                },
                "monthly_sales": {
                    "type": "number"
                },
                "msg": {
                    "type": "string"
                },
                "productsRank": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.ProductRank"
                    }
                },
                "total_sales": {
                    "type": "number"
                },
                "weekly_sales": {
                    "type": "number"
                }
            }
        },
        "response.ScreenInfoResponse": {
            "type": "object",
            "properties": {
                "adlist": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Advertisement"
                    }
                },
                "annually_sales": {
                    "type": "number"
                },
                "code": {
                    "type": "integer"
                },
                "daily_sales": {
                    "type": "number"
                },
                "dev_nums": {
                    "type": "integer"
                },
                "monthly_sales": {
                    "type": "number"
                },
                "msg": {
                    "type": "string"
                },
                "offline_dev_nums": {
                    "type": "integer"
                },
                "online_dev_nums": {
                    "type": "integer"
                },
                "productRankList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.ProductRank"
                    }
                },
                "sales": {
                    "description": "营销额七日增长曲线",
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "total_sales": {
                    "type": "number"
                },
                "weekly_sales": {
                    "type": "number"
                }
            }
        }
    },
    "securityDefinitions": {
        "BasicAuth": {
            "type": "basic"
        }
    },
    "externalDocs": {
        "description": "OpenAPI",
        "url": "https://swagger.io/resources/open-api/"
    }
}